.vdata-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.vdata-all-panel {
  width: 100%;
  height: 1080px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #dfe7f9;
}
.vdata-header {
  width: 100%;
  height: 142px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #52aba7;
  align-items: flex-start;
  border-radius: 0px;
  background-image: linear-gradient(to right, #1380e5 0%, #263252 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.vdata-text {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.vdata-text1 {
  color: #acfbff;
  font-size: 50px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}
.vdata-login {
  flex: 0 0 auto;
  width: 277px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.vdata-form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.vdata-button {
  color: rgb(220, 246, 249);
  font-size: 30px;
  box-shadow: 5px 5px 10px 0px #152444;
  border-color: #dcf6f9;
  border-width: 5px;
  border-radius: 20px;
  background-color: rgb(38, 50, 82);
}
.vdata-isi {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
}
.vdata-atas {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.vdata-text2 {
  flex: 0 0 auto;
  width: 419px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.vdata-text3 {
  color: #263252;
  font-size: 30px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.vdata-menu {
  flex: 1;
  width: 212px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.vdata-form1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.vdata-button1 {
  color: rgb(38, 50, 82);
  font-size: 25px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  font-weight: 500;
  border-color: rgb(38, 50, 82);
  border-width: 5px;
  border-radius: 20px;
  background-color: transparent;
}
.vdata-tabel {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
}
